<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <app-punto-de-entrega
        [pedidosIngresados] = "pedidosIngresados"
        [pedidosTerminados] = "pedidosTerminados"
    ></app-punto-de-entrega>
    <app-pos
        (pedidoIngresado) = "onIngresarPedido($event)"
    ></app-pos>
    <app-cocina
        [pedidosIngresados]= "pedidosIngresados"
        (pedidoTerminado) = "onPedidoTerminado($event)"
        
    ></app-cocina>
    </div>
</body>
</html>