<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Pedidos Ingresados:</h1>
    <p>{{ pedidosIngresados | json }}</p>
    <h1>Pedidos Listos Para Entregar:</h1>
    <ul>
        <li *ngFor="let pedido of pedidosTerminados">
          {{ pedido.numero }} - {{ pedido.nombre }}: {{ pedido.descripcion }} <button (click)="onEntregarPedido(pedido)">Entregar</button>
        </li>
    </ul>
  </div>
</body>
</html>